html {
    scroll-behavior: smooth;
    height: 100%;
    
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
}