.btn {
    background-color: $mainBlue;
    color: white;
    border: none;
    padding: .5rem 1rem;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }

    &--x {
        background-color: transparent;
        color: #f6885c;
        padding: 0;
        transform: scaleX(1.5);
    }

    &--fill {
        width: 100%;
    }
}