.filters {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;

    @mixin atMedium {
        justify-content: flex-start;
    }
    
    &__search {
        height: 100%;
        margin-right: 2rem;
    }

    &__sort {
        display: flex;
        align-items: center;

        & * {
            margin-right: 1rem;
        }
    }
}