.grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: space-between;
    justify-items: center;
    grid-gap: 1rem 2rem;
    width: 100%;
    grid-template-columns: 1fr;

    @mixin atMedium {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @mixin atLarge {
        grid-template-columns: repeat(4, 1fr);
    }
}