.text-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
    max-width: 20rem;

    &:focus {
        outline: 0;
        border: 1px solid gray;
    }

    &--font-large {
        font-size: 1.5rem;
    }

    &--no-margin {
        margin: 0;
    }
}

.textarea {
    width: 100%;
    min-height: 10rem;
    resize: none;

    &:focus {
        outline: 0;
    }
}

.select {
    height: 100%;
}