.user-form {
    border-radius: 5px;
    max-width: 500px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

    &__mode {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        width: 100%;
        border: none;
        padding: 1rem 2rem;
        background-color: whitesmoke;
        
        &:hover {
            cursor: pointer;
        }
    
        &:focus {
            outline: 0;
        }

        &--inactive {
            background-color: gray;
            color: white;
        }
    }

    &__form {
        padding: 0 1rem 1rem 1rem;
    }
}